header .fa {
    margin: 0px 20px 10px 10px;
    position: relative;
    top: 4px;
}

.fonticon-tiny {
	font-size: 35px;
}

header {
	background: #0D47A1;
	color: #fff;
}

.playlist .list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.playlist .list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}